:root {
    --color-primary: #007bff;
    --title-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-text-dark: #333;
    --color-border: #ddd;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #f9f9f9;
}

.darkmode {
    --color-primary: black;
    --title-primary: white;
    --color-primary-hover: #222222;
    --color-text-dark: #eee;
    --color-border: #777;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #333;
}

button.nav-btn {
    color: white;
    border: none;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
  }

body.image {
    font-family: Arial, sans-serif;
    background: url("../Backgrounds/image8298.png") no-repeat center center fixed;
    background-size: cover;
    color: var(--color-text-dark);
}
    
h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 10px;
    color: var(--title-primary);
}
.container {
    max-width: 70% /* calc(100% - 40px) */;
    margin: 4rem auto;
    text-align: center;
    /*background-color: var(--color-background);*/
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color-shadow);
    position: relative;
    top: 0;
}
.progress {
    height: 30px;
    margin-bottom: 20px;
}
.progress-bar {
    transition: width 1s ease;
    background: linear-gradient(90deg, rgba(0,123,255,1) 25%, rgba(0,123,255,0.5) 50%, rgba(0,123,255,1) 75%);
    background-size: 200% 100%;
    animation: progress-bar-stripes 3s linear infinite;
}



@keyframes progress-bar-stripes {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: 0 0;
    }
}
.timer {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
}
.divider {
    margin: 30px 0;
    border-top: 1px solid var(--color-border);
}
.row {
    margin-top: 20px;
}
.interest-list {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    background-color: transparent
}
.interest-item {
    padding: 5px 0;
    border-bottom: 1px solid var(--color-border);
}
#nextInterestBtn {
    font-style: italic;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 1.1rem;
}
#nextInterestBtn:hover {
    background-color: var(--color-primary-hover);
}
.collapsible {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}
.collapsible:hover {
    background-color: var(--color-primary-hover);
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
.interest-container {
    margin-bottom: 20px;
}
.interest-list-container {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
}

table {
    background-color: transparent;
}
