body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 20px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item-card {
    width: 100%;
    max-width: 282px;
    background-color: #2222227c;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item-card img {
    max-width: 100px;
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    border-radius: 4px;
}

img.coin {
    width: 32px;
    height: 32px;
}

.main-data {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 20px 0;
    align-items: center;
}

.item-card h2 {
    color: #00a3cc;
    margin-bottom: 5px;
    text-align: center;
}

.item-card p {
    margin-bottom: 10px;
}

a {
    color: #00a3cc;
}

#categoryItems {
    margin-top: 5rem;
}
