:root {
    --card-shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #007bff !important;
    --primary-text-color: #007bff;
    --primary-color-hover: #0069d9 !important;
    --disabled-bg-color: #888888;
    --text-color: black;
    --selection-bg-color: black;
    --selection-text-color: white;
    --table-border: #ccc;

    --card-bg-color: #ffffff99;
    --border-color: #7aa5d0;
    --body-bg: #f8f9fa;
    --card-bg-hover: #e2e6ea;
    --main-text-color: #212529;
    --secondary-text-color: #6c757d;
    --navbar-center-color: #007bffca !important;
    --glass-bg: #ffffffad;
    --sidebar-btn-sec-color: #006bff;
    --navbar-end: #006bffca;
    --navbar-light: #009bffca;

    --gw-border: #000000;
    /* Proile.html */
    --avtar-border: #ffffff;

    --arrow-bg: transparent;
    --arrow-color: #23272e;

}

.darkmode {
    --card-shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #007bff !important;
    --primary-text-color: #007bff;
    --primary-color-hover: #3a9dff !important;
    --navbar-center-color: #262525ca !important;
    --disabled-bg-color: #2f2f2f;
    --text-color: #ffffff;
    --selection-bg-color: #000000;
    --selection-text-color: #ffffff;
    --table-border: #888888;

    --card-bg-color: #1e1e2e70;
    --border-color: #2a435b;
    --body-bg: #121212;
    --card-bg-hover: #369bff1c;
    --main-text-color: #e1e1e1;
    --secondary-text-color: #a8a8a8;

    --glass-bg: #2d2d2dad;
    --sidebar-btn-sec-color: #111;
    --navbar-light: #353535ca;
    --navbar-end: #111111ca;
    --gw-border: #ffffff;
    /* profile.html */
    --avtar-border: #1e1e2e;

    --arrow-bg: #23272e;
    --arrow-color: #ffd700;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background: #e4e6e9 !important;
    border: 2px solid #000 !important;
    box-shadow: 0 -2px 0 2px #58585a inset !important;
    width: 8px !important;
}

::-webkit-scrollbar-track {
    background: #545456 !important;
}

@font-face {
    font-family: 'minecraft';
    src: url('../minecraft_font.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftTen';
    src: url('https://craftersmc.opendevsflow.xyz/src/font.woff2') format('woff2');
}

@font-face {
    font-family: 'MyFont';
    font-style: normal;
    font-weight: 400;
    /*     src: url('../fonts/Devs-special-font.woff2') format('truetype'); */
    /*     src: url('../fonts/minecraft-pro.otf.woff2') format('truetype'); */
    src: url('../fonts/MinecraftSeven.woff') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyFont';
    font-weight: bolder;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #242424 !important;
    color: #ddd !important;
    font-family: 'MyFont' !important;
}

html {
    overflow-x: hidden !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader div {
    width: 18px;
    height: 18px;
    background-color: var(--body-bg);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
}

#loader div:nth-child(1) {
    animation-delay: -0.32s;
}

#loader div:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

.right,
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.right .material-icons,
.left .material-icons {
    color: #242424;
    font-size: 2rem;
    cursor: pointer;
}

.right .material-icons:hover,
.left .material-icons:hover {
    border: 2px solid #fff !important;
    box-shadow: 2px 2px 0 0 #2ccb1d inset, -1px -1px 0px 3px #1d681a inset !important;
    background: #218306 !important;
    color: #fff !important;
}

span.no_selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.navbar {
    background: #c6c6c6;
    color: #3c3c3c;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000000;
    box-sizing: border-box;
    height: 60px;
    flex-wrap: nowrap;
    animation: slideDown 0.5s ease-out forwards;
    box-shadow: 2px 2px 0 0 #c6c6c6 inset, -1px -1px 0px 3px #777 inset;
    backdrop-filter: blur(6px);
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100000000;
}

@keyframes slideDown {
    0% {
        top: -60px;
    }

    100% {
        top: 0;
    }
}

.menu-icon,
.material-icons {
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;

}

.navbar .material-icons {
    color: #3c3c3c;
}

.navbar a img {
    /* height: 67px; */
    margin-top: 1px;
    margin-left: 25px;
    max-width: calc(100% - 11px);
    object-fit: contain;
    animation: logoPopIn 1.5s ease-out;
}

.navbar a img:hover {
    transform: scale(1.05);
}

.main-name {
    font-size: 2rem;
    color: #3c3c3c;
    font-family: 'MinecraftTen' !important;
}

@keyframes logoPopIn {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -270px;
    width: 270px;
    height: 100%;
    backdrop-filter: blur(6px);
    box-shadow: 3px 0 12px var(--card-shadow-color);
    padding-top: 0px;
    transition: left 0.4s ease-in-out;
    z-index: 10000000000000000000000000000000000000;
    /* that's a lot of z-index mate */
    border-right: 2px solid var(--glass-border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #000000ad;
    color: #fff;
}

.sidebar.openSbar {
    left: 0;
}

.sidebar img {
    width: 114px;
    max-width: 100%;
    height: auto;
    margin: 60px auto 0 auto;
    display: block;
}

.sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #3c3c3c !important;
    font-size: 1.2rem;
    transition: 0.1s;
    background: #c6c6c6;
    margin: 10px 15px 0 15px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset;
    border: 2px solid #2a2a2a;
}

.sidebar a:last-child {
    margin-bottom: 10px;
}

.sidebar a:hover {
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 0 #2ccb1d inset, -1px -1px 0px 3px #1d681a inset;
    background: #218306;
    color: #fff !important;
}

.sidebar-close {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.sidebar-close:hover {
    transform: rotate(90deg);
    color: #ff4444;
    text-shadow: 0 0 40px #fff;
}

.sidebar-top-top {
    display: flex;
    flex-direction: row;
}

.sidebar-top-bottom-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 12px 0 12px;
    height: fit-content;
}

.nasty {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* .navbar {
  margin-top: 44px;
} */
/* 
@media (max-width: 600px) {
  .navbar {
    margin-top: 56px;
  }
} */

body.no-scroll {
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000000000;
    display: none;
}

.sidebar.open~#sidebar-overlay {
    display: block;
}

a.button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: var(--guides-blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(ellipse at bottom, rgba(99, 80, 255, 0.3), transparent 70%);
    backdrop-filter: blur(20px);
    border-top: 1px solid #333;
    padding: 40px 0 10px 0;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.background {
    background-position-x: center !important;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: -webkit-fill-available;
    /* background: #222; */
    background: transparent;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#footer {
    width: 100%;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: -webkit-fill-available;
    justify-content: space-around;
    gap: 15px;
}

footer h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #fff !important;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 5px;
    margin: 0;
}

footer p {
    margin-left: 2px;
    margin-right: 2px;
}

.links a {
    text-decoration: none;
    padding: 10px;
    color: #d0d1d4 !important;
}

.links a:hover {
    color: #29a108 !important;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #fff !important;
}

.brand img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.adsbygoogle {
    width: calc(100% - 10px) !important;
    margin: 3rem 0 1rem 0;
    /* border: 2px solid #605b5b; */
    height: auto;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column !important;
        align-items: center;
    }

    .brand img {
        width: 80px;
        height: 80px;
    }

    /*.brand h1 {
        font-size: 1.2em;
    }*/

    .brand {
        margin: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
        justify-content: space-around;
        gap: 4rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px;
        margin-bottom: 50px;
    }
}

@media (max-width: 520px) {
    .main-name {
        display: none;
    }
}


.footer ul li {
    margin: 2px 0 !important;
    padding: 0 !important;
}

#float {
    display: flex;
    background: #161a1c !important;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    position: fixed;
    left: calc(100% - 4rem);
    top: calc(100% - 8rem);
    border: none;
    padding: 3px;
    border-radius: 0px;
    color: white;
}

#homeBtn,
#ai,
#scrollToTopBtn {
    background: #222;
    border-radius: 0px;
    display: none;
    width: 46px;
}

#homeBtn:hover,
#ai:hover,
#scrollToTopBtn:hover {
    background: #58585a !important;
}

#sweepBtn {
    transform: rotate(180deg);
    background: #58585a !important;
    border-radius: 0px !important;
    transform: rotate(180deg);
    transition: transform 0.3s !important;
    box-shadow: -1px -1px 0px 3px #777 inset, 2px 2px 0 0 #c6c6c6 inset;
}

.sidebar-login-btn {
    color: #3c3c3c !important;
    box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset !important;
    border: 2px solid #2a2a2a !important;
    background: #c6c6c6 !important;
    border-radius: 0 !important;
    padding: 8px 18px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto 10px auto;
    display: block;
}