/* :root {
    --color-primary: #007bff;
    --title-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-text-dark: #333;
    --color-border: #666;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #f9f9f9;
}

.dark-mode {
    --color-primary: #007bff;
    --title-primary: white;
    --color-primary-hover: #0056b3;
    --color-text-dark: #eee;
    --color-border: #777;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #333;
}
 */
button.nav-btn {
    color: white;
    border: none;
    background-color: var(--primary-text-color);
    padding: 10px 15px;
    border-radius: 5px;
}

h3 {
    color: #242424;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'MyFont';
    background: #c6c6c6;
    padding: 10px;
    box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 3px #777 inset !important;
}

.container {
    width: 90%;
    margin-top: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: 'MyFont';
    background: #11111196;
    border: 2px solid #111;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.813) !important;
    border: 2px solid #c6c6c6;
    text-align: center;
    padding: 0;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    margin: 0 10px;
    border-radius: none;
}

.progress-bar {
    transition: width 1s ease;
    background: linear-gradient(90deg, rgba(0, 150, 0, 1) 25%, rgba(0, 150, 0, 0.5) 50%, rgba(0, 150, 0, 1) 75%);
    background-size: 200% 100%;
    animation: progress-bar-stripes 3s linear infinite;
    border-radius: none;
}



@keyframes progress-bar-stripes {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: 0 0;
    }
}

.timer {
    font-size: 2rem;
    font-weight: bold;
    color: #c6c6c6;
}

.divider {
    margin: 30px 0;
    border-top: 1px solid var(--border-color);
}

.row {
    margin-top: 20px;
}

.interest-list {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    background-color: transparent
}

.interest-item {
    padding: 5px 0;
    border-bottom: 1px solid var(--boder-color);
}

#nextInterestBtn {
    font-style: italic;
    background-color: var(--primary-text-color);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 1.1rem;
}

#nextInterestBtn:hover {
    background-color: var(--primary-color-hover);
}

.collapsible {
    background: #c6c6c6;
    align-items: center;
    color: #3c3c3c;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.1s;
    text-transform: capitalize;
    cursor: pointer;
    /* Add cursor pointer */
    box-shadow: 2px 2px 0 0 #ffffff inset,
        -1px -1px 0px 3px #777 inset;
    justify-content: space-between;
    border: 2px solid #2a2a2a;
    padding: 10px 20px;
}

.collapsible:hover {
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 0 #2ccb1d inset,
        -1px -1px 0px 3px #1d681a inset;
    background: #218306;
    color: #fff !important;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.event-container {
    margin-bottom: 20px;
}

.interest-list-container {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
}

.interest-list-container p {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: var(--border-color) 1px solid;
}

table {
    background-color: transparent;
}

.event-list-container {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
}

.event-list-container div {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: var(--border-color) 1px solid;
}