.guides-button.guides-nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.guides-btn-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  padding: 0 10px;
}

.guides-button.guides-nav-btn:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg-color);
}

.guides-button.guides-nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.guides-inner-container {
  margin: 2rem;
}

.guides-guide-card {
  background-color: #1111119e;
  box-shadow: 0 8px 16px var(--card-shadow-color);
  max-width: 1200px;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #c6c6c6;
}

.guides-h3 {
  margin-top: 0;
}

.guides-guide-card .guides-h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #c6c6c6 !important;
  color: #242424;
  box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 2px #777 inset !important;
}

.guides-h2 {
  background-color: transparent !important;
}

.guides-a {
  color: #007bff;
  text-decoration: none;
}

.guides-a:hover {
  text-decoration: underline;
}

.guides-strong,
.guides-b,
.guides-h4 {
  font-weight: bold;
  color: #007bff;
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
}

.guides-table {
  border: 1px solid var(--table-border);
}

.guides-em {
  color: gold;
}

.guides-th,
.guides-td {
  border: 1px solid var(--table-border);
}

.guides-th {
  color: var(--primary-text-color);
}

.guides-links a {
  text-decoration: none;
  padding: 10px;
}

.guides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.guides-background {
  background: url("../Backgrounds/dirt.webp");
  background-color: #847474;
  background-blend-mode: multiply;
  background-size: 20%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
