:root {
  --main-bg-color: #f1f1f1;
  --card-bg-color: white;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --disabled-bg-color: #888888;
  --text-color: black;
  --selection-bg-color: black;
  --selection-text-color: white;
  --table-border: #ccc;
  --primary-text-color: #007bff;
}

.darkmode {
  --main-bg-color: #1e1e2e;
  --card-bg-color: #ffffff0d;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #111;
  --disabled-bg-color: #2f2f2f;
  --text-color: #ffffff;
  --selection-bg-color: #000000;
  --selection-text-color: #ffffff;
  --table-border: #888888;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #111;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

body {
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  color: black;
  overflow-x: hidden !important;
}

/* 
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 50px;
} */

button.toggle-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.toggle-button:last-child {
  display: none;
}

button.toggle-button.dark-mode:first-child {
  display: none;
}

button.toggle-button.dark-mode:last-child {
  display: block;
}

button.toggle-button.dark-mode {
  background-color: var(--primary-color-dark);
  color: white;
}



button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  padding: 0 10px;
}

button.nav-btn:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg-color);
}

button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}



.guide-card {
  background-color: #1111119e;
  box-shadow: 0 8px 16px var(--card-shadow-color);
  max-width: 600px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #c6c6c6;
}

h3 {
  margin-top: 0;
}

.guide-card h2 {
  text-align: center;
  padding: 10px;
  background-color: #c6c6c6 !important;
  color: #242424;
  box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 2px #777 inset !important;
}

h1,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 10px;
}

h2 {
  background-color: transparent !important;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
}

li {
  margin: 10px 28px;
}


a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong,
b,
h4 {
  font-weight: bold;
  color: #007bff;
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
}

/* #theme-switch {
  height: 50px; 
  width: 50px; 
  padding: 0; 
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 200;
} */

#theme-switch svg {
  fill: white;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

table {
  border: 1px solid var(--table-border);
}

em {
  color: gold;
}

th,
td {
  border: 1px solid var(--table-border);
}

th {
  color: var(--primary-text-color);
}

.links a {
  text-decoration: none;
  padding: 10px;
}


.ad-display {
  width: 30%;
  height: auto;
  margin: 0 0 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.background {
    background: url("../Backgrounds/dirt.webp");
    background-color: #847474;
    background-blend-mode: multiply;
    background-size: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}