/* :root {
    --body-bg: #f8f9fa;
    --container-bg: #ffffff;
    --primary-color: #222;
    --secondary-color: #fff;
    --primary-bg: #f9f9f9;
    --primary-blue: #007bff;
    --secondary-blue: #0056b3;
    --primary-dark: #48494b;
    --primary-color-hover: #0069d9;
    --primary-text-color: #212529;
    --secondary-text-color: #6c757d;
    --border-color: #e9ecef;
    --card-hover: #e2e6ea;
}

.darkmode {
    --primary-color: #fff;
    --body-bg: #121212;
    --container-bg: #1e1e1e;
    --secondary-color: #fff;
    --primary-bg: rgb(30, 30, 46);
    --primary-blue: rgb(17, 17, 17);
    --secondary-blue: #0056b3;
    --primary-dark: #fff;
    --primary-color-hover: #3a9dff;
    --primary-text-color: #e1e1e1;
    --secondary-text-color: #a8a8a8;
    --border-color: #333333;
    --card-hover: #3a3a3a;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyFont !important;
}

body {
    background: var(--body-bg);
    color: var(--main-text-color);
    overflow-x: hidden;
    padding-bottom: calc(10px + 3rem);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hero-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.hero {
    flex: 1;
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    height: calc(100vh - 56px);
    z-index: 3;
    animation: fadeIn 1.5s ease-out;
}

.background {
    background: url("../Backgrounds/IMG_4504.jpeg");
    background-color: #847474;
    background-blend-mode: multiply;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        scale: 1.1;
        opacity: 0.3;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.hero h1 {
    font-size: 3rem;
    margin-top: 12rem;
    margin-bottom: 20px;
}

.hero p {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.startButton {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(0, 123, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: 9999;
}

.startButton:hover {
    background: rgb(0, 123, 255);
    box-shadow: 0 0 30px 5px rgba(0, 123, 2255, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.startButton:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.startButton::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.startButton:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.cta-btn {
    background: #c6c6c6;
    color: #3c3c3c;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 20px 15px 20px;
    transition: all 0.1s;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 0 0 #ffffff inset,
        -1px -1px 0px 3px #777 inset;
    justify-content: space-between;
    border: 2px solid #2a2a2a;
}

.cta-btn:hover {
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 0 #2ccb1d inset,
        -1px -1px 0px 3px #1d681a inset;
    background: #218306;
    color: #fff !important;
}

.bottom-nav {
    background: var(--card-bg-color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(18px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

.bottom-nav a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: center;
}

.bottom-nav a:hover {
    color: var(--primary-color-hover);
}

.bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bottom-nav .nav-item span {
    font-size: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: transparent;
}

.card {
    position: relative;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    margin: 8px 8px;
    padding: 25px;
    min-height: 14rem;
    flex: 1 1 calc(20% - 10px);
    max-width: 30vw;
    min-width: 26vw;.card:hover {
    transform: scale(1.05);
    border: 2px solid var(--border-color);
  box-shadow: 0 0 10px 0 var(--border-color);
}
    background-color: var(--card-bg-color);
    transition: transform 0.3s;
}

.card.development::before {
    background: #000000e3;
    z-index: 10;
    content: 'Under Development\A(Coming Soon)';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    white-space: pre;
    text-align: center;
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}

@media (max-width: 425px) {
    .card {
        min-width: -webkit-fill-available;
    }
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.796));
}

.card-content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    z-index: 2;
    text-align: left;
    padding: 10px;
}

.card h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    margin: 5px 0;
    opacity: 0.9;
}

.card button {
    background: #c6c6c6;
    color: #3c3c3c;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 15px 10px 15px;
    transition: all 0.1s;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 0 0 #ffffff inset,
        -1px -1px 0px 3px #777 inset;
    justify-content: space-between;
    border: 2px solid #2a2a2a;
    display: flex;
    align-items: center;
}

.card button:hover {
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 0 #2ccb1d inset,
        -1px -1px 0px 3px #1d681a inset;
    background: #218306;
    color: #fff !important;
}

.card button svg {
    fill: #3c3c3c;
}

.card button:hover svg {
    fill: #fff;
}

footer {
    margin-bottom: 60px !important;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        height: auto;
        padding-bottom: calc(15px + 5rem);
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 400px;
        margin: 4px;
    }

    .card:hover {
        transform: none;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    #notice-board {
        margin: 10px 0 !important;
    }
    .notice-board {
        max-width: 30rem !important;
    }
}

footer {
    padding: 40px 0 25px 0 !important;
}

.notice-board {
    max-width: 18rem;
    background: #00000070;
    box-shadow: 0 2px 12px #0002;
    border: 3px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-top: 2rem;
}

.notice-board h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    background-color: #c6c6c6;
    color: #3c3c3c;
    width: 100%;
    justify-content: center;
    box-shadow: 2px 2px 0 0 #c6c6c6 inset,
        -1px -1px 0px 3px #777 inset;
}


@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }

    .notice-board {
        margin-right: 2rem;
    }

    footer {
        margin-bottom: 0 !important;
    }
}