@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Devs-special-font.woff2') format('truetype');
}

:root {
  --main-bg-color: #f1f1f1;
}

.dark-mode {
  --main-bg-color: #121212;

}

.rarity-dropdown {
  position: relative;
  margin: 20px 0;
  padding: 0px auto;
  display: inline-block;
  font-size: 20px;
}

.rarity-dropdown .selected {
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.rarity-dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 5px;
  display: none;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--border-color);
  background: var(--body-bg);
}

.rarity-dropdown .options div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;
}

.rarity-dropdown .options div:hover {
  scale: 104%;
}

.price-container {
  font-family: 'MyFont';
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  width: 100% !important;
}

.price-section {
  font-family: 'MyFont';
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px 0;
  border-bottom: 1px solid var(--border-color);
  gap: 6px;
}

.price-section:last-child {
  border-bottom: none;
  font-family: 'MyFont';
}

.making-price {
  display: flex;
  flex-direction: column;
  font-family: 'MyFont';
  color: orange;
  font-weight: bold;
}

.selling-price {
  font-family: 'MyFont';
  color: orange;
  font-weight: bold;
}

.item-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10rem;
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 15px 0;
}

.error-message {
  color: #F44336;
  padding: 20px;
  text-align: center;
}

.right,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.right .material-icons,
.left .material-icons {
  color: #242424;
  font-size: 2rem;
  cursor: pointer;
}

.right .material-icons:hover,
.left .material-icons:hover {
  border: 2px solid #fff !important;
  box-shadow: 2px 2px 0 0 #2ccb1d inset, -1px -1px 0px 3px #1d681a inset !important;
  background: #218306 !important;
  color: #fff !important;
}

.rarity-arrow {
  background: #c6c6c6 !important;
  border: 2px solid #111 !important;
  width: 36px !important;
  height: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1.5em !important;
  box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 2px #777 inset !important;
  border-radius: 0% !important;
}

