@font-face {
    font-family: 'MyFont';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Devs-special-font.woff2') format('truetype');
}
:root {
    --main-bg-color: #f1f1f1;
}
.dark-mode {
    --main-bg-color: #121212;

}

    .rarity-dropdown {
      position: relative;
      margin: 20px 0;
      padding:0px auto;
      display: inline-block;
      font-size:20px;
    }

    .rarity-dropdown .selected {
      padding-left: 15px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--border-color);
    }

    .rarity-dropdown .options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-radius: 5px;
      display: none;
      z-index: 10;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      border: 1px solid var(--border-color);
      background: var(--body-bg);
    }

    .rarity-dropdown .options div {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.2s;
      overflow: hidden;
    }

    .rarity-dropdown .options div:hover {
      scale: 104%;
    }

    .price-container {
      font-family: 'MyFont';
      margin: 20px 0;
      padding: 15px;
      border-radius: 5px;
      border:1px solid var(--border-color);
      width: 100% !important;
    }

    .price-section {
      font-family: 'MyFont';
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 8px 0;
      border-bottom: 1px solid var(--border-color);
    }

    .price-section:last-child {
      border-bottom: none;
      font-family: 'MyFont';
    }

    .making-price {
      display: flex;
      flex-direction: column;
      font-family: 'MyFont';
      color: orange;
      font-weight: bold;
      padding-left: 5px;
      margin-bottom: 4px;
    }

    .selling-price {
      font-family: 'MyFont';
      color: orange;
      font-weight: bold;
      padding-left: 5px;
      margin-bottom: 4px;
    }

    .item-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-top: 10rem;
    }

    .item-card {
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .item-image {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin: 15px 0;
    }

    .error-message {
      color: #F44336;
      padding: 20px;
      text-align: center;
    }
