:root {
  --background-color: #f9f9f9;
  --text-color: #222;
  --title-color: #ffffff;
  --text-shadow-color: #000000;
  --credits-footer-color: #6c757d;
  --seller-list-background: rgba(255, 255, 255, 0.0);
  --seller-card-background: rgba(255, 255, 255, 0.3);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover-color: rgba(255, 255, 255, 0.3);
  --box-shadow-seller-card: rgba(0, 0, 0, 0.2);
  --status-selling-color: green;
  --status-paused-color: #da5100;
  --status-inactive-color: red;
  --status-unknown-color: #6c757d;
  --button-background-color: #007bff;
  --button-text-color: #fff;
  --button-hover-background-color: #0056b3;
  --warning-color: #DD2222;
  --warning-text-shadow-color: #000000;
  --background-tint: rgba(0, 0, 0, 0);
  --guides-blue: #007bff;
  --white: #ffffff;
  --guides-blue-hover: #0056b3;
  --background: #f4f4f4;
  --sidebar-text: #2f2f2f;
}

.dark-mode {
  --background-color: #222222;
  --text-color: #eee;
  --title-color: #ffffff;
  --text-shadow-color: #000000;
  --credits-footer-color: #6c757d;
  --seller-list-background: rgba(0, 0, 0, 0.2);
  --seller-card-background: rgba(0, 0, 0, 0.2);
  --box-shadow-color: rgba(1, 1, 1, 0.1);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.3);
  --box-shadow-seller-card: rgba(200, 200, 200, 0.2);
  --box-shadow-seller-card-hover: rgba(255, 255, 255, 0.6);
  --status-selling-color: green;
  --status-paused-color: #ff6a00;
  --status-inactive-color: red;
  --status-unknown-color: #6c757d;
  --button-background-color: #444444;
  --button-text-color: #fff;
  --button-hover-background-color: #222222;
  --warning-color: red;
  --warning-text-shadow-color: #000000;
  --background-tint: rgba(0, 0, 0, 0.5);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-align: left;
  background: url("../Backgrounds/IMG_4502.webp");
  background-size: cover;
  background-position-x: center;
}

a.seller-card2 {
  text-decoration: none;
}

a.seller-card-inactive2 {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  margin: 10rem 5% 20px 5%;
  color: var(--title-color);
  text-align: center;
  text-shadow: 2px 2px var(--text-shadow-color);
}

.credits,
footer {
  font-size: 0.9rem;
  color: var(--credits-footer-color);
  text-align: center;
}

.seller-list2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.seller-card2,
.seller-card-inactive2 {
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: var(--seller-card-background);
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px var(--box-shadow-seller-card);
  overflow-wrap: break-word;
  min-height: 200px;
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.darkmode .seller-card2 {
  background-color: rgba(36, 36, 36, 0.6);
}

.seller-card-inactive2 {
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: var(--seller-card-background);
  background-image: linear-gradient(135deg, var(--seller-card-background), rgba(255, 0, 0, 0.6));
}

.darkmode .seller-card-inactive2 {
  background-color: rgba(100, 36, 36, 0.4);
}

.seller-card2:hover,
.seller-card-inactive2:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px var(--box-shadow-seller-card-hover);

}

.seller-card2 img {
  height: 47px;
  width: auto;
  border-radius: 4px;
}

.seller-card-inactive2 img {
  height: 47px;
  width: auto;
  border-radius: 4px;
  filter: grayscale(100%);
}

img.rank {
  height: 47px;
  width: auto;
  margin-right: 5px;
  object-fit: contain;
  align-items: left;
}

.status {
  font-weight: bold;
}

.status.Selling {
  color: var(--status-selling-color);
}

.status.Paused {
  color: var(--status-paused-color);
}

.status.Inactive {
  color: var(--status-inactive-color);
}

.status.Unknown {
  color: var(--status-unknown-color);
}

a.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

a.button:hover {
  background-color: var(--button-hover-background-color);
}

.warning {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 20px 5%;
    color: var(--warning-color);
    font-style: italic;
    text-align: center;
    text-shadow: 1px 0.9px var(--warning-text-shadow-color);
}

footer {
    font-size: 0.8rem;
    color: var(--credits-footer-color);
    text-align: center;
}
@media (max-width: 1200px) and (min-width: 600px) {
  .seller-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .seller-list {
    grid-template-columns: 1fr;
  }
}