

* {
  -webkit-tap-highlight-color: transparent;
}

.slay-lb-h3 {
  margin-bottom: 8px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  background-color: #c6c6c6;
  color: #3c3c3c;
  width: 100%;
  justify-content: center;
  box-shadow: 2px 2px 0 0 #c6c6c6 inset,
    -1px -1px 0px 3px #777 inset;
  padding: 10px;
}

.slay-lb-container {
  max-width: 900px;
  margin: 5rem auto;
  background: #00000070;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid #c6c6c6;
}

.slay-lb-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.slay-lb-tab {
  border: 2px solid #fff;
  background-color: #8b8b8b;
  color: white;
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.slay-lb-tab.active {
  background-color: #c3c1c4;
}

.slay-lb-collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  justify-items: center;
  padding-bottom: 64px;
}

.slay-lb-collection-item {
  height: 80px;
  width: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid transparent;
  position: relative;
  margin-bottom: 8px;
}

.slay-lb-collection-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  background-color: #8b8b8b;
  z-index: -1;
  padding: 4px;
}

.slay-lb-collection-item p {
  color: white;
}

.slay-lb-collection-item img {
  width: 40px;
}

.slay-lb-collection-item:hover,
.slay-lb-collection-item.active {
  z-index: 0;
  box-shadow: 4px 0 10px var(--primary-color), -4px 0 10px rgb(12, 0, 255),
}

.slay-lb-leaderboard {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slay-lb-table {
  width: 90%;
  border-collapse: collapse;
  overflow: hidden;
  margin: 40px 20px 20px 20px;
}

.slay-lb-table th,
.slay-lb-table td {
  padding: 12px;
  border: 1px solid var(--border-color);
  text-align: left;
}

.slay-lb-table th {
  background: var(--primary-color);
  color: white;
}

.slay-lb-table tbody tr:nth-child(1) {
  background: #FFD700;
  color: black;
}

.slay-lb-table tbody tr:nth-child(2) {
  background: #C0C0C0;
  color: black;
}

.slay-lb-table tbody tr:nth-child(3) {
  background: #CD7F32;
  color: white;
}

@media (max-width: 600px) {

  .slay-lb-tab {
    padding: 8px 15px;
  }
}
