/* :root {
  --guides-blue: #007bff;
  --white: #ffffff;
  --guides-blue-hover: #0056b3;
  --background: #f4f4f4;
  --item-background: #e0e0e0;
  --sidebar-text: #2f2f2f;
  --text: black;
}

.dark-mode {
  --background: #121212;
  --item-background: #1e1e1e;
  --text: white;
  --guides-blue: #007bff;
  --guides-blue-hover: #0056b3;
} */

body {
  font-family: Arial, sans-serif;
  background-color: var(--body-bg);
  background-attachment: fixed;
  color: var(--main-text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../Backgrounds/image9489.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
}
@-moz-document url-prefix() {
  body {
    scrollbar-width: none; 
  }
}
@media (max-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}

/* .custom-navbar {
    background: linear-gradient(90deg, var(--navbar-light), var(--primary-color), var(--sidebar-btn-sec-color));
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    box-sizing: border-box;
    height: 60px;
    flex-wrap: nowrap;
    animation: slideDown 0.5s ease-out forwards;
}

.custom-navbar a img {
    margin-left: 25px;
    max-width: calc(100% - 28px);
    object-fit: contain;
    animation: logoPopIn 1.5s ease-out;
}

.custom-navbar .material-icons {
    color: #fff;
}

.custom-navbar .material-icons:first-child {
    margin-left: 0;
    left: 0;
}

.custom-navbar a img:hover {
    transform: scale(1.05);
} */

* {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin-top: 4rem;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 8px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px 20px;
  border-radius: 14px;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background: var(--glass-bg);
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
  background: var(--primary-color);
  color: white;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.tab.active {
  background: var(--primary-color-hover);
}

.collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  justify-items: center;
  padding-bottom: 64px;
}

.collection-item {
  height: 80px;
  width: 80px;
  padding: 10px;
  background: var(--card-bg-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid transparent;
  position: relative;
  margin-bottom: 8px;
}

.collection-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #007bff, #0056b3);
  z-index: -1;
  padding: 4px;
}

.collection-item p {
  color: white;
}

.collection-item img {
  width: 40px;
}

.collection-item:hover,
.collection-item.active {
  z-index: 0;
  box-shadow: 4px 0 10px var( --primary-color), -4px 0 10px rgb(12, 0, 255),
}

.leaderboard {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  border: 1px solid var(--border-color);
  text-align: left;
}

th {
  background: var(--primary-color);
  color: white;
}

tbody tr:nth-child(1) {
  background: #FFD700;
  color: black;
}

tbody tr:nth-child(2) {
  background: #C0C0C0;
  color: black;
}

tbody tr:nth-child(3) {
  background: #CD7F32;
  color: white;
}

@media (max-width: 600px) {

  .tab {
    padding: 8px 15px;
  }
}

.sidelid {
  margin-top: 60px;
  width: 250px;
  height: 100vh;
  background-color: var(--glass-bg);
  padding: 20px 20px 60px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 5000;
  color: var(--main-text-color);
  backdrop-filter: blur(8px);
}

.sidelid h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.sidelid a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
  font-size: 18px;
  width: 45px;
}

/*.sidelid a:hover {
  background-image: linear-gradient(135deg, rgb(166, 0, 255), rgb(0, 0, 255));
}*/

/* Main Content */
.content {
  margin-left: 250px;
  /* Push content to the right */
  flex: 1;
}

/* Open button (for small screens) */
.openbtn {
  display: none;
}

.openbtn:hover {
  cursor: pointer;
}

#mobileGuide {
  display: none;
  margin-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidelid {
    width: 0;
    padding: 20px 20px 60px 20px;
    left: -250px;
  }

  .sidelid.openlid {
    width: 250px;
    padding: 20px 20px 60px 20px;
    left: 0;
  }

  .closebtn {
    display: block;
  }

  .content {
    margin-left: 0;
  }

  .openbtn {
    display: block;
  }

  #mobileGuide {
    display: block;
  }
  .button-tip {
    display: block !important;
  }
  .button-wrapper {
            display: inline-block !important;
        }
}

.button-wrapper {
            position: relative;
            display: none;
        }
.button-tip {
    background-color: var(--primary-color); 
    color: #ffffff; 
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 180%; 
    left: 128%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
    animation: colorChange 1.2s infinite alternate;
    display: none;
}
@keyframes colorChange {
    0% { color: #363636; }
    25% { color: white; }
    50% { color: #363636; }
    75% { color: white; }
    100% { color: #363636; }
}

.button-tip::after {
            content: "";
            position: absolute;
            top: -5px; 
            left: 5px;
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 16px solid var(--primary-color); 
            transform: rotate(-45deg); 
        }

details {
      width: 300px;
      max-width: 600px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      background: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      margin: 0 auto;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.2);
      overflow: hidden;
      max-height: 100px;
      transition: max-height 0.9s ease;
      color: var(--text-color);
      font-size: clamp(14px, 2vw, 18px);
    }

    details[open] {
      max-height: 500px;
      background: #fff;
      border-color: #999;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
    }

    summary {
      font-weight: bold;
      cursor: pointer;
      list-style: none;
      text-align: center;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    .message {
      margin-top: 10px;
      color: var(--text-color);
    }
    
    @media (min-width: 1024px) {
  details {
    width: 100%;
    max-width: none;
  }
}
