/* :root {
    --bg-color: #f1f1f1;
    --card-bg: white;
    --text-color: black;
    --btn-color: #007bff;
    --btn-text: white;
} */

body {
    font-family: Arial, sans-serif;
    background: var(--body-bg);
    text-align: center;
    color: var(--main-text-color);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.pack-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pack-card {
    background: var(--card-bg-color);
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    text-align: left;
}

.pack-card img {
    width: 100%;
    border-radius: 8px;
}

h3 {
    margin: 10px 0;
}

h1 {
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
}

.download-btn {
    display: inline-block;
    background: var(--primary-text-color);
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.download-btn:hover {
    background: var(--primary-color-hover);
}

.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: var(--card-bg-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 101;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}



.panel h3 {
    margin: 0;
    color: var(--primary-text-color);
}

.panel-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.panel-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.confirm-btn {
    background-color: var(--primary-color);
    color: white;
}

.confirm-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: #888;
    color: white;
}

.cancel-btn:hover {
    background-color: #666;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.panel.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}
